/* ContentSlider.css */
.content-slider {
    position: relative;
    max-width: 90%;
    display: flex;
    margin: auto;
}

.slider-container {
    display: flex;
    justify-content: center;
    gap: 5%;
    transition: transform 0.5s ease-in-out;
}

.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    opacity: 0.5;
    transform: scale(0.8);
    transition: transform 0.8s ease-in-out, width 0.8s ease-in-out;
    animation: slideIn Is ease-in-out;
}

.content-box.large {
    transform: scale(1.2);
    opacity: 1;
}


.content-box:not(.large):hover {
    transform: scale(1);
}


/* .visibility-icon {
    display: none;
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
}

.content-box:hover .visibility-icon {
    display: block;

} */

.title {
    margin-bottom: 15px;
}

.image {
    width: 80%;
    height: 70%;
    border-radius: 10px;
}

.paragraph {
    margin-top: 10px;
    font-size: 14px;
}

.arrow-button {
    position: absolute;
    top: 50%;
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
}

.prev-button {
    left: -25px;
}

.next-button {
    right: -25px;
}


@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}


@media screen and (max-width: 1000px) {


    .content-box {
        flex: 0 0 105%;
        margin: 10px 0;
    }
}