.projectDesc{
    margin-left: 16px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* USECASES */

.productSection .useCasesHeading {
    text-align: center;
    font-weight: bold;
    background: var(--purpleGreenGradient);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
}
