:root {
  --bgColor: #0E0E0E;
  --footerBg: #000000;
  --darkGrey: #F1F1F2;
  --softGreen: #71c391;
  --lightSteelBlue: #6492cc;
  --pinkish-purple: #913ac4;
}

.layer2 {
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.colortheme-stability {
  background-image: linear-gradient(109deg, #7a26ae, #3d649b 98.5%);
}

.iconcolor {
  fill: #8EC5FC;
  fill: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.colortheme-difference {
  background-image: linear-gradient(110deg, #5052a1 2.34%, #24aeb8 99.94%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bgColor);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: 100%;
  width: 100%;
}